.body {
    -fx-background-image: url("images/pexels-technobulka-2908984.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;
}

.welcome-text {
    fx-font-family: "Gill Sans", sans-serif;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-fill: #eee;
}

Button {
    -fx-cursor: hand;
    -fx-background-color: #fff;
    -fx-padding: 5px 50px;
    -fx-font-size: 14px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.login-text, .register-text {
    fx-font-family: "Gill Sans", sans-serif;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-fill: #eee;
}

TextField, PasswordField {
    -fx-max-width: 500;
    -fx-pref-height: 30;
    -fx-font-size: 14px;
    -fx-border-radius: 10px;
}

#messageLabel, #messageLabel1 {
    -fx-text-fill: #b30303;
    -fx-background-color: #eee;
    -fx-font-size: 13px;
}

.inventory {
    fx-font-family: "Gill Sans", sans-serif;
    -fx-font-size: 15px;
    -fx-fill: #eee;
}